[tool.black]
line-length = 120
target-version = ['py37']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.tox
  | \.venv
  | _build
  | remoulade.egg-info
  | buck-out
  | build
  | dist
)/
'''

[tool.pytest.ini_options]
markers = [
    "confirm_delivery",
    "group_transaction",
]
