name: Python Linting

on:
  push:
    branches: [main]
    paths:
      - "**/*.py"
  pull_request:
    paths:
      - "**/*.py"

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10.0]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]
      - name: Lint with flake8
        run: |
          flake8 . --count --show-source --statistics
      - name: Check imports with isort
        run: isort --check remoulade
      - name: Check typing with mypy
        run: |
          mypy --install-types --non-interactive --show-traceback --enable-incomplete-features --namespace-packages
      - name: Check syntax with pyupgrade
        run: |
          find . -type f -regex '.*\.py$' -exec pyupgrade --py37-plus {} \;

  linter:
    name: black-format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-black@v2
        with:
          github_token: ${{ secrets.github_token }}
          # Change reviewdog reporter if you need [github-pr-check, github-check].
          reporter: github-pr-check
